.frame-data-container {
	table {
		thead {
			border: 1px solid black;
			th {
				border: 1px solid black;
				text-align: center;
			}
		}
		margin: 0 auto;
		td {
			border: 1px solid black;
		}
	}
	.column-hide {
		display: none;
	}

	.checkbox-container {
		display: flex;
	    flex-direction: row;
	    justify-content: center;
	    line-height: 16px;
	    margin: 20px 0;
	    	input {
	    		margin-right: 15px;
	    	}
	}
}

